eutu55/src/main/resources/xsd/common/NotificationCBSServiceType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://xmlns.ec.eu/BusinessObjects/IOSS_DR/Common/V1"
           elementFormDefault="qualified"
           targetNamespace="http://xmlns.ec.eu/BusinessObjects/IOSS_DR/Common/V1">
    <xs:include schemaLocation="ctypes.xsd"></xs:include>
    <xs:complexType name="SyncNotificationRequestType">
        <xs:sequence>
            <xs:element name="SyncNotificationType" type="SyncNotificationType"  />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SyncNotificationResponseType" />
</xs:schema>
